* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section */
header {
    background-color: rgb(255, 255, 255);
    padding: 20px 40px;
}

.v-align-middle {
    vertical-align: middle;
}

.d-inline-block {
    display: inline-block;
}
/* header end */

/* body section  */

/* body structure  */
body {
    font-family: "Montserrat", sans-serif;
    background-color: rgba(243, 247, 248, 0.699);
}

.title {
    font-size: 50px;
}

.py {
    padding-top: 60px;
}

.container {
    width: 1200px;
    height: 750px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px 60px;
}

.inner-cont-size {

}
/* body structure end  */

/* label toolbar */
.label, .label-task {
    padding: 5px 15px;
    font-size: 20px;
    font-size: 20px;
}
.label-task {
    border-radius: 5px;
}

.border {
    border: 1px grey;
    border-style: solid;
}
/* end label toolbar  */
.label {
    border-radius: 20px;
    margin-left: 10px;
}
/* label colors  */
.skyblue {
    background-color: rgb(71, 196, 245);
}

.purple{
    background-color: rgba(89, 0, 255, 0.800);
}
.lightgreen {
    background-color: rgba(16, 185, 115, 0.800);
}

.yellow {
    background-color: rgba(219, 164, 11, 0.800);
}

.pink {
    background-color: rgba(219, 14, 140, 0.800);
}

.aquagreen {
    background-color: rgba(150, 223, 15, 0.800);
}
/* label color end  */


/* font style  */
.font1 {
    color: white;
}

.font2 {
    color: grey;
}


hr {
    position: absolute;
    width: 100%;
    border: 1px solid  rgba(243, 247, 248, 0.699);
    top: 240px;
    left: 0;

}

.ul-margin {              /* li of 1st ul */
    margin-top: 50px;
    list-style-type: none;
}

.ul-margin2 {             /* li of 2nd ul */
    margin-top: 20px;
    list-style-type: none;
}

li {
    margin: 22px 0px;
}

h2 {
    font-size: 25px;
    display: inline-block;
}

/* arrow entity */
.arrow-d {
    font-size: 27px;
}

/* check and cross entity  */
.check, .cross {
    border-radius: 50%;
    margin-right: 10px;
    padding: 3px 6px;
}

.check {
    border: 1px solid rgb(9, 202, 9);
}

.cross {
    border: 1px solid rgb(255, 0, 0);
}

.green {
    color: rgb(9, 202, 9);
}

.red {
    color: red;
}

.back-white {
    background-color: white;
}
/* check and cross entity end  */

/* li character style of 2nd ul  */
strong{
    font-size: 20px;
}